Repository Navware-Official/nav-e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @navware/, @a-navware, @s-navware

.github/CODEOWNERS:

# CODEOWNERS for: Nav-e
# Defines the users, teams, or apps that are responsible for code in a repository.
# ------------------------------------------------------------------------------
# 1) Default catch-all: if nothing else matches, these folks own it.
#    Add both devs here so nothing slips through the cracks.
# ------------------------------------------------------------------------------
*                       @navware/ @a-navware @s-navware

# ------------------------------------------------------------------------------
# 2) App code by platform / domain
# ------------------------------------------------------------------------------

# Core Dart code
/lib/**                 @a-navware @s-navware
/bin/**                 @a-navware @s-navware

# UI assets
/assets/**              @a-navware @s-navware

# Flutter platform folders
/android/**             @a-navware @s-navware
/ios/**                 
/web/**                 
/macos/**               
/windows/**             
/linux/**               

# Packages / modules (if you use a mono-repo layout later)
# /packages/**          @your-org/mobile-core

# ------------------------------------------------------------------------------
# 3) Tests, QA, and tooling
# ------------------------------------------------------------------------------
/test/**                @a-navware @s-navware
/integration_test/**    @a-navware @s-navware

# CI/CD, release, and repo plumbing
/.github/**             @a-navware
/.github/workflows/**   @a-navware

# Linting and config


# ------------------------------------------------------------------------------
# 4) Docs, community, licenses
# ------------------------------------------------------------------------------
/README.md              @a-navware @s-navware
/CONTRIBUTING.md        @a-navware @s-navware
/CODE_OF_CONDUCT.md     @a-navware @s-navware
/SECURITY.md            @s-navware @s-navware
/LICENSE                @a-navware @s-navware

# ------------------------------------------------------------------------------
# 5) Sensitive or “please don’t touch without us” areas
# ------------------------------------------------------------------------------
/pubspec.yaml           @a-navware @s-navware
/.gitignore             @s-navware @s-navware
/.gitattributes         @s-navware @s-navware

# ------------------------------------------------------------------------------
# Feature specific areas
# ------------------------------------------------------------------------------
/lib/core/data/**            @a-navware
/lib/core/domain/**        @a-navware
/lib/features/map_layers/**  @a-navware
/lib/features/settings/**    @a-navware
/lib/features/saved_places/** @a-navware
/lib/features/device_management/** @s-navware
/lib/features/navigation/** @a-navware @s-navware

feat: route preview screen
  .github/workflows/frb_build.yml
  .github/workflows/frb_codegen_build.yml
  .vscode/settings.json
  lib/app/app_router.dart
  lib/bridge/ffi.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/src/lib.rs
Owners: @a-navware, @navware/, @s-navware

feat: route preview screen
  .github/workflows/frb_build.yml
  .github/workflows/frb_codegen_build.yml
  .vscode/settings.json
  lib/app/app_router.dart
  lib/bridge/ffi.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/src/lib.rs
Owners: @a-navware, @navware/, @s-navware

temp commit
  lib/bridge/ffi.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/bloc/nav_event.dart
  lib/features/nav/bloc/nav_state.dart
  lib/features/nav/models/nav_models.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/nav_banner.dart
  lib/features/navigate/navigation_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/lib.rs
Owners: @a-navware, @s-navware, @navware/

temp commit
  lib/bridge/ffi.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/bloc/nav_event.dart
  lib/features/nav/bloc/nav_state.dart
  lib/features/nav/models/nav_models.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/nav_banner.dart
  lib/features/navigate/navigation_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/lib.rs
Owners: @a-navware, @s-navware, @navware/

Implemented Bluetooth connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/core/domain/entities/device.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Owners: @a-navware, @s-navware

Implemented Bluetooth connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/core/domain/entities/device.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Owners: @a-navware, @s-navware

Implemented Toggling of device Bluetooth connection
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/features/device_management/widgets/device_card_widget.dart
Owners: @a-navware, @s-navware

Implemented Toggling of device Bluetooth connection
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/features/device_management/widgets/device_card_widget.dart
Owners: @a-navware, @s-navware

Fixed bugs in connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Owners: @a-navware, @s-navware

Fixed bugs in connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Owners: @a-navware, @s-navware

Implemented device updating and deleting
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Owners: @a-navware, @s-navware

Implemented device updating and deleting
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Owners: @a-navware, @s-navware

got map drawing working and screens
  lib/bridge/api.dart
  lib/bridge/ffi.dart
  lib/bridge/geocode.dart
  lib/bridge/lib.dart
  lib/bridge/route.dart
  lib/bridge/types.dart
  lib/features/map_layers/data/map_source_repository_impl.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/plan_route/widgets/route_top_panel.dart
  native/nav_engine/src/api.rs
  native/nav_engine/src/lib.rs
  native/nav_engine/src/osrm.rs
  native/nav_engine/src/route.rs
  native/nav_engine/src/types.rs
  pubspec.lock
  pubspec.yaml
Owners: @a-navware, @s-navware, @navware/

got map drawing working and screens
  lib/bridge/api.dart
  lib/bridge/ffi.dart
  lib/bridge/geocode.dart
  lib/bridge/lib.dart
  lib/bridge/route.dart
  lib/bridge/types.dart
  lib/features/map_layers/data/map_source_repository_impl.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/plan_route/widgets/route_top_panel.dart
  native/nav_engine/src/api.rs
  native/nav_engine/src/lib.rs
  native/nav_engine/src/osrm.rs
  native/nav_engine/src/route.rs
  native/nav_engine/src/types.rs
  pubspec.lock
  pubspec.yaml
Owners: @a-navware, @s-navware, @navware/

Modified requested from PR
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Owners: @a-navware, @s-navware

Modified requested from PR
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Owners: @a-navware, @s-navware

Updated pkg name
  android/app/build.gradle.kts
Owners: @a-navware, @s-navware

Updated pkg name
  android/app/build.gradle.kts
Owners: @a-navware, @s-navware

Fixed Device manamgent and package name bug
  android/app/src/main/kotlin/com/example/nav_e/MainActivity.kt
  lib/features/device_management/device_management_screen.dart
Owners: @a-navware, @s-navware

Fixed Device manamgent and package name bug
  android/app/src/main/kotlin/com/example/nav_e/MainActivity.kt
  lib/features/device_management/device_management_screen.dart
Owners: @a-navware, @s-navware

refactor: Update color opacity methods to use withValues for consistency
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/saved_places/data/saved_places_repository_rust.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
Owners: @a-navware, @s-navware

refactor: Update color opacity methods to use withValues for consistency
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/saved_places/data/saved_places_repository_rust.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
Owners: @a-navware, @s-navware

Refactor map handling to remove MapController dependency
  assets/config/map_sources.json
  assets/styles/custom_style.json
  docs/migrations-developer-guide.md
  docs/migrations-release.md
  lib/core/data/map_adapter.dart
  lib/core/data/map_adapter_factory.dart
  lib/core/data/remote/map_source_repository_impl.dart
  lib/core/domain/entities/map_source.dart
  lib/features/device_management/data/device_repository_rust.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/home_view.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/models/marker_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_adapters/legacy_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_section.dart
  lib/features/map_layers/presentation/widgets/recenter_fab.dart
  lib/features/map_layers/presentation/widgets/rotate_north_fab.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/widgets/user_location_marker.dart
  pubspec.lock
  pubspec.yaml
  test/core/data/map_adapter_test.dart
  test/core/data/remote/map_source_repository_impl_test.dart
Owners: @a-navware, @s-navware, @navware/

Refactor map handling to remove MapController dependency
  assets/config/map_sources.json
  assets/styles/custom_style.json
  docs/migrations-developer-guide.md
  docs/migrations-release.md
  lib/core/data/map_adapter.dart
  lib/core/data/map_adapter_factory.dart
  lib/core/data/remote/map_source_repository_impl.dart
  lib/core/domain/entities/map_source.dart
  lib/features/device_management/data/device_repository_rust.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/home_view.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/models/marker_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_adapters/legacy_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_section.dart
  lib/features/map_layers/presentation/widgets/recenter_fab.dart
  lib/features/map_layers/presentation/widgets/rotate_north_fab.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/widgets/user_location_marker.dart
  pubspec.lock
  pubspec.yaml
  test/core/data/map_adapter_test.dart
  test/core/data/remote/map_source_repository_impl_test.dart
Owners: @a-navware, @s-navware, @navware/

feat: Implement Device Communication BLoC with events and states
  android/app/src/main/jniLibs/arm64-v8a/libnav_engine.so
  docs/README.md
  docs/architecture.md
  docs/architecture/overview.md
  docs/flutter-rust-bridge.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/native-rust.md
  docs/protobuf.md
  docs/rust/device-comm.md
  docs/rust/overview.md
  docs/rust/protobuf.md
  docs/testing.md
  lib/app/app_router.dart
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  lib/core/device_comm/device_communication_service.dart
  lib/core/device_comm/proto/navigation.pb.dart
  lib/core/device_comm/proto/navigation.pbenum.dart
  lib/core/device_comm/proto/navigation.pbjson.dart
  lib/features/device_comm/presentation/bloc/device_comm_bloc.dart
  lib/features/device_comm/presentation/bloc/device_comm_events.dart
  lib/features/device_comm/presentation/bloc/device_comm_states.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/main.dart
  native/device_comm/src/lib.rs
  native/nav_e_ffi/src/frb_generated.rs
  native/nav_e_ffi/src/lib.rs
  native/nav_engine/src/api/device_comm.rs
  native/nav_engine/src/api/routes.rs
  native/nav_engine/src/infrastructure/osrm_adapter.rs
  pubspec.lock
  pubspec.yaml
Owners: @a-navware, @s-navware, @navware/

feat: Implement Device Communication BLoC with events and states
  android/app/src/main/jniLibs/arm64-v8a/libnav_engine.so
  docs/README.md
  docs/architecture.md
  docs/architecture/overview.md
  docs/flutter-rust-bridge.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/native-rust.md
  docs/protobuf.md
  docs/rust/device-comm.md
  docs/rust/overview.md
  docs/rust/protobuf.md
  docs/testing.md
  lib/app/app_router.dart
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  lib/core/device_comm/device_communication_service.dart
  lib/core/device_comm/proto/navigation.pb.dart
  lib/core/device_comm/proto/navigation.pbenum.dart
  lib/core/device_comm/proto/navigation.pbjson.dart
  lib/features/device_comm/presentation/bloc/device_comm_bloc.dart
  lib/features/device_comm/presentation/bloc/device_comm_events.dart
  lib/features/device_comm/presentation/bloc/device_comm_states.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/main.dart
  native/device_comm/src/lib.rs
  native/nav_e_ffi/src/frb_generated.rs
  native/nav_e_ffi/src/lib.rs
  native/nav_engine/src/api/device_comm.rs
  native/nav_engine/src/api/routes.rs
  native/nav_engine/src/infrastructure/osrm_adapter.rs
  pubspec.lock
  pubspec.yaml
Owners: @a-navware, @s-navware, @navware/

docs: Enhance device communication guide with detailed architecture and flow
  docs/guides/device-communication.md
Owners: @navware/, @a-navware, @s-navware

docs: Enhance device communication guide with detailed architecture and flow
  docs/guides/device-communication.md
Owners: @navware/, @a-navware, @s-navware

simplify
  docs/guides/device-communication.md
Owners: @navware/, @a-navware, @s-navware

simplify
  docs/guides/device-communication.md
Owners: @navware/, @a-navware, @s-navware

.
  docs/architecture/overview.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/rust/protobuf.md
Owners: @navware/, @a-navware, @s-navware

.
  docs/architecture/overview.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/rust/protobuf.md
Owners: @navware/, @a-navware, @s-navware

add adr
  docs/README.md
  docs/adr/0000-template.md
  docs/adr/0001-adopt-ddd-hexagonal-cqrs.md
  docs/adr/0002-rust-core-flutter-ui.md
  docs/adr/0003-osrm-routing-engine.md
  docs/adr/0004-nominatim-geocoding.md
  docs/adr/0005-protocol-buffers-device-communication.md
  docs/adr/README.md
Owners: @navware/, @a-navware, @s-navware

add adr
  docs/README.md
  docs/adr/0000-template.md
  docs/adr/0001-adopt-ddd-hexagonal-cqrs.md
  docs/adr/0002-rust-core-flutter-ui.md
  docs/adr/0003-osrm-routing-engine.md
  docs/adr/0004-nominatim-geocoding.md
  docs/adr/0005-protocol-buffers-device-communication.md
  docs/adr/README.md
Owners: @navware/, @a-navware, @s-navware

refactor: Update GitHub workflows and labeler configuration for improved file tracking and CI setup
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .github/workflows/release.yml
Owners: @a-navware

refactor: Update GitHub workflows and labeler configuration for improved file tracking and CI setup
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .github/workflows/release.yml
Owners: @a-navware

chore: Update CI workflows and ignore generated FFI bindings
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .gitignore
Owners: @a-navware, @s-navware

chore: Update CI workflows and ignore generated FFI bindings
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .gitignore
Owners: @a-navware, @s-navware

uoda
  .github/labeler.yml
Owners: @a-navware

uoda
  .github/labeler.yml
Owners: @a-navware
