Repository Navware-Official/nav-e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @navware/, @a-navware, @s-navware

.github/CODEOWNERS:

# CODEOWNERS for: Nav-e
# Defines the users, teams, or apps that are responsible for code in a repository.
# ------------------------------------------------------------------------------
# 1) Default catch-all: if nothing else matches, these folks own it.
#    Add both devs here so nothing slips through the cracks.
# ------------------------------------------------------------------------------
*                       @navware/ @a-navware @s-navware

# ------------------------------------------------------------------------------
# 2) App code by platform / domain
# ------------------------------------------------------------------------------

# Core Dart code
/lib/**                 @a-navware @s-navware
/bin/**                 @a-navware @s-navware

# UI assets
/assets/**              @a-navware @s-navware

# Flutter platform folders
/android/**             @a-navware @s-navware
/ios/**                 
/web/**                 
/macos/**               
/windows/**             
/linux/**               

# Packages / modules (if you use a mono-repo layout later)
# /packages/**          @your-org/mobile-core

# ------------------------------------------------------------------------------
# 3) Tests, QA, and tooling
# ------------------------------------------------------------------------------
/test/**                @a-navware @s-navware
/integration_test/**    @a-navware @s-navware

# CI/CD, release, and repo plumbing
/.github/**             @a-navware
/.github/workflows/**   @a-navware

# Linting and config


# ------------------------------------------------------------------------------
# 4) Docs, community, licenses
# ------------------------------------------------------------------------------
/README.md              @a-navware @s-navware
/CONTRIBUTING.md        @a-navware @s-navware
/CODE_OF_CONDUCT.md     @a-navware @s-navware
/SECURITY.md            @s-navware @s-navware
/LICENSE                @a-navware @s-navware

# ------------------------------------------------------------------------------
# 5) Sensitive or “please don’t touch without us” areas
# ------------------------------------------------------------------------------
/pubspec.yaml           @a-navware @s-navware
/.gitignore             @s-navware @s-navware
/.gitattributes         @s-navware @s-navware

# ------------------------------------------------------------------------------
# Feature specific areas
# ------------------------------------------------------------------------------
/lib/core/data/**            @a-navware
/lib/core/domain/**        @a-navware
/lib/features/map_layers/**  @a-navware
/lib/features/settings/**    @a-navware
/lib/features/saved_places/** @a-navware
/lib/features/device_management/** @s-navware
/lib/features/navigation/** @a-navware @s-navware

tweak: remove comment
  README.md
Owners: @a-navware, @s-navware

tweak: remove comment
  README.md
Owners: @a-navware, @s-navware

W.I.P.
  lib/bloc/bluetooth/bluetooth_bloc.dart
  lib/screens/device_management/add_device_screen.dart
  lib/utils/database_helper.dart
Owners: @a-navware, @s-navware

W.I.P.
  lib/bloc/bluetooth/bluetooth_bloc.dart
  lib/screens/device_management/add_device_screen.dart
  lib/utils/database_helper.dart
Owners: @a-navware, @s-navware

Added License
  LICENSE
Owners: @a-navware, @s-navware

Added License
  LICENSE
Owners: @a-navware, @s-navware

feat: Added build info to app, updated github workflows, updated basic styling to widgets
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/cut-release.yml
  .github/workflows/flutter_test.yml
  .github/workflows/pr-title.yml
  .github/workflows/publish-on-tag.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  README.md
  android/build/reports/problems/problems-report.html
  lib/core/constants/app_version.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/core/theme/typography.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/saved_places/saved_places_screen.dart
  lib/features/search/search_screen.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/app_version_section.dart
  lib/widgets/search_bar_widget.dart
  lib/widgets/subtext.widget.dart
  pubspec.lock
Owners: @a-navware, @s-navware, @navware/

feat: Added build info to app, updated github workflows, updated basic styling to widgets
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/cut-release.yml
  .github/workflows/flutter_test.yml
  .github/workflows/pr-title.yml
  .github/workflows/publish-on-tag.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  README.md
  android/build/reports/problems/problems-report.html
  lib/core/constants/app_version.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/core/theme/typography.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/saved_places/saved_places_screen.dart
  lib/features/search/search_screen.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/app_version_section.dart
  lib/widgets/search_bar_widget.dart
  lib/widgets/subtext.widget.dart
  pubspec.lock
Owners: @a-navware, @s-navware, @navware/

fix: broken bloc in main
  lib/app/app_nav.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/main.dart
Owners: @a-navware, @s-navware

fix: broken bloc in main
  lib/app/app_nav.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/main.dart
Owners: @a-navware, @s-navware

Added missing bluetooth permissions
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Added missing bluetooth permissions
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Refactored application name bloc state name due to conflict
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Owners: @a-navware, @s-navware

Refactored application name bloc state name due to conflict
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Owners: @a-navware, @s-navware

Removed unsuported legacy permission
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Removed unsuported legacy permission
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Added BLE feature declaration for google play store
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Added BLE feature declaration for google play store
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Removed another unsupported legacy permission
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Removed another unsupported legacy permission
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

Implemented base device scanning, updating and stopping handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Owners: @a-navware, @s-navware

Implemented base device scanning, updating and stopping handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Owners: @a-navware, @s-navware

Updated proces flows & handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
Owners: @a-navware, @s-navware

Updated proces flows & handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
Owners: @a-navware, @s-navware

Implemented base bluetooth scanning and listing
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Owners: @a-navware, @s-navware

Implemented base bluetooth scanning and listing
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Owners: @a-navware, @s-navware

Implemented saving bluetooth device
  lib/features/device_management/add_device_screen.dart
Owners: @s-navware

Implemented saving bluetooth device
  lib/features/device_management/add_device_screen.dart
Owners: @s-navware

Implemented post-save routing
  lib/features/device_management/add_device_screen.dart
Owners: @s-navware

Implemented post-save routing
  lib/features/device_management/add_device_screen.dart
Owners: @s-navware

Removed unused code
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
Owners: @a-navware, @s-navware

Removed unused code
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
Owners: @a-navware, @s-navware

Fixed routing and implemented device loading
  lib/features/device_management/device_management_screen.dart
Owners: @s-navware

Fixed routing and implemented device loading
  lib/features/device_management/device_management_screen.dart
Owners: @s-navware

chore: remove old HTTP geocoding implementations
  lib/core/data/remote/geocoding_api_client.dart
  lib/features/search/data/geocoding_repository_impl.dart
Owners: @a-navware, @s-navware

chore: remove old HTTP geocoding implementations
  lib/core/data/remote/geocoding_api_client.dart
  lib/features/search/data/geocoding_repository_impl.dart
Owners: @a-navware, @s-navware

feat(bridge): delegate to generated FRB bindings when available, fallback to HTTP shim
  lib/bridge/ffi.dart
Owners: @a-navware, @s-navware

feat(bridge): delegate to generated FRB bindings when available, fallback to HTTP shim
  lib/bridge/ffi.dart
Owners: @a-navware, @s-navware

feat: moved logic to rust
  .github/workflows/frb_build.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  flutter_rust_bridge.yaml
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/frb_generated.web.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
  lib/main.dart
  lib/widgets/subtext.widget.dart
  native/README.md
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/frb_generated.rs
  native/nav_engine/src/geocode.rs
  native/nav_engine/src/lib.rs
  pubspec.lock
  pubspec.yaml
  scripts/build_rust.sh
Owners: @a-navware, @s-navware, @navware/

feat: moved logic to rust
  .github/workflows/frb_build.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  flutter_rust_bridge.yaml
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/frb_generated.web.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
  lib/main.dart
  lib/widgets/subtext.widget.dart
  native/README.md
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/frb_generated.rs
  native/nav_engine/src/geocode.rs
  native/nav_engine/src/lib.rs
  pubspec.lock
  pubspec.yaml
  scripts/build_rust.sh
Owners: @a-navware, @s-navware, @navware/
