Repository Navware-Official/nav-e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @navware/, @a-navware, @s-navware

.github/CODEOWNERS:

# CODEOWNERS for: Nav-e
# Defines the users, teams, or apps that are responsible for code in a repository.
# ------------------------------------------------------------------------------
# 1) Default catch-all: if nothing else matches, these folks own it.
#    Add both devs here so nothing slips through the cracks.
# ------------------------------------------------------------------------------
*                       @navware/ @a-navware @s-navware

# ------------------------------------------------------------------------------
# 2) App code by platform / domain
# ------------------------------------------------------------------------------

# Core Dart code
/lib/**                 @a-navware @s-navware
/bin/**                 @a-navware @s-navware

# UI assets
/assets/**              @a-navware @s-navware

# Flutter platform folders
/android/**             @a-navware @s-navware
/ios/**                 
/web/**                 
/macos/**               
/windows/**             
/linux/**               

# Packages / modules (if you use a mono-repo layout later)
# /packages/**          @your-org/mobile-core

# ------------------------------------------------------------------------------
# 3) Tests, QA, and tooling
# ------------------------------------------------------------------------------
/test/**                @a-navware @s-navware
/integration_test/**    @a-navware @s-navware

# CI/CD, release, and repo plumbing
/.github/**             @a-navware
/.github/workflows/**   @a-navware

# Linting and config


# ------------------------------------------------------------------------------
# 4) Docs, community, licenses
# ------------------------------------------------------------------------------
/README.md              @a-navware @s-navware
/CONTRIBUTING.md        @a-navware @s-navware
/CODE_OF_CONDUCT.md     @a-navware @s-navware
/SECURITY.md            @s-navware @s-navware
/LICENSE                @a-navware @s-navware

# ------------------------------------------------------------------------------
# 5) Sensitive or “please don’t touch without us” areas
# ------------------------------------------------------------------------------
/pubspec.yaml           @a-navware @s-navware
/.gitignore             @s-navware @s-navware
/.gitattributes         @s-navware @s-navware

# ------------------------------------------------------------------------------
# Feature specific areas
# ------------------------------------------------------------------------------
/lib/core/data/**            @a-navware
/lib/core/domain/**        @a-navware
/lib/features/map_layers/**  @a-navware
/lib/features/settings/**    @a-navware
/lib/features/saved_places/** @a-navware
/lib/features/device_management/** @s-navware
/lib/features/navigation/** @a-navware @s-navware

labels
  .github/labeler.yml
Owners: @a-navware

labels
  .github/labeler.yml
Owners: @a-navware

labels
  .github/labeler.yml
Owners: @a-navware

labels
  .github/labeler.yml
Owners: @a-navware

updated version
  pubspec.yaml
Owners: @a-navware, @s-navware

updated version
  pubspec.yaml
Owners: @a-navware, @s-navware

resolve problems
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
Owners: @a-navware, @s-navware

resolve problems
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
Owners: @a-navware, @s-navware

resolve last error
  pubspec.lock
  pubspec.yaml
Owners: @navware/, @a-navware, @s-navware

resolve last error
  pubspec.lock
  pubspec.yaml
Owners: @navware/, @a-navware, @s-navware

add version
  pubspec.yaml
Owners: @a-navware, @s-navware

add version
  pubspec.yaml
Owners: @a-navware, @s-navware

add
  .github/workflows/release.yml
Owners: @a-navware

add
  .github/workflows/release.yml
Owners: @a-navware

add sdk manager
  .github/workflows/release.yml
Owners: @a-navware

add sdk manager
  .github/workflows/release.yml
Owners: @a-navware

a
  .github/workflows/release.yml
Owners: @a-navware

a
  .github/workflows/release.yml
Owners: @a-navware

add step to accept Android SDK licenses in release workflow
  .github/workflows/release.yml
Owners: @a-navware

add step to accept Android SDK licenses in release workflow
  .github/workflows/release.yml
Owners: @a-navware

init
  docs/plan.md
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/features/device_comm/device_comm_bloc.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/main.dart
Owners: @navware/, @a-navware, @s-navware

init
  docs/plan.md
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/features/device_comm/device_comm_bloc.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/main.dart
Owners: @navware/, @a-navware, @s-navware

add api playground
  native/api_playground/src/main.rs
Owners: @navware/, @a-navware, @s-navware

add api playground
  native/api_playground/src/main.rs
Owners: @navware/, @a-navware, @s-navware

Add parking data layer support and enhance theme consistency
  assets/config/map_sources.json
  assets/data/parking.geojson
  lib/core/data/map_adapter.dart
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/typography.dart
  lib/core/utils/snackbar_helper.dart
  lib/core/widgets/state_views.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/home_view.dart
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/home/widgets/route_preview_widget.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/data/data_layer_registry.dart
  lib/features/map_layers/models/data_layer_definition.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/map_layers/presentation/widgets/data_layer_info_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_section.dart
  lib/features/map_layers/presentation/widgets/recenter_fab.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/nav_banner.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/plan_route/widgets/route_top_panel.dart
  lib/features/saved_places/saved_places_screen.dart
  lib/features/settings/settings_screen.dart
  lib/widgets/draggable_fab_widget.dart
  lib/widgets/user_location_marker.dart
  pubspec.yaml
Owners: @a-navware, @s-navware

Add parking data layer support and enhance theme consistency
  assets/config/map_sources.json
  assets/data/parking.geojson
  lib/core/data/map_adapter.dart
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/typography.dart
  lib/core/utils/snackbar_helper.dart
  lib/core/widgets/state_views.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/home_view.dart
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/home/widgets/route_preview_widget.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/data/data_layer_registry.dart
  lib/features/map_layers/models/data_layer_definition.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/map_layers/presentation/widgets/data_layer_info_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_section.dart
  lib/features/map_layers/presentation/widgets/recenter_fab.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/nav_banner.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/plan_route/widgets/route_top_panel.dart
  lib/features/saved_places/saved_places_screen.dart
  lib/features/settings/settings_screen.dart
  lib/widgets/draggable_fab_widget.dart
  lib/widgets/user_location_marker.dart
  pubspec.yaml
Owners: @a-navware, @s-navware

Refactor offline map management and enhance device communication features
  .cursor/rules/dart-bloc-patterns.mdc
  .cursor/rules/dart-ffi-bridge.mdc
  .cursor/rules/project-context.mdc
  .cursor/rules/proto-device-comm.mdc
  .cursor/rules/rust-nav-engine.mdc
  .cursor/skills/nav-e-device-comm-and-ffi/SKILL.md
  .gitignore
  flutter_01.png
Owners: @navware/, @a-navware, @s-navware

Refactor offline map management and enhance device communication features
  .cursor/rules/dart-bloc-patterns.mdc
  .cursor/rules/dart-ffi-bridge.mdc
  .cursor/rules/project-context.mdc
  .cursor/rules/proto-device-comm.mdc
  .cursor/rules/rust-nav-engine.mdc
  .cursor/skills/nav-e-device-comm-and-ffi/SKILL.md
  .gitignore
  flutter_01.png
Owners: @navware/, @a-navware, @s-navware

update pubspec
  pubspec.yaml
Owners: @a-navware, @s-navware

update pubspec
  pubspec.yaml
Owners: @a-navware, @s-navware

fix pub
  pubspec.lock
  pubspec.yaml
Owners: @navware/, @a-navware, @s-navware

fix pub
  pubspec.lock
  pubspec.yaml
Owners: @navware/, @a-navware, @s-navware

remove temp code
  flutter_01.png
  offline-routing-plan.md
  temp.md
Owners: @navware/, @a-navware, @s-navware

remove temp code
  flutter_01.png
  offline-routing-plan.md
  temp.md
Owners: @navware/, @a-navware, @s-navware

fix sttle
  Makefile
  lib/core/data/remote/composite_map_source_repository.dart
  lib/features/home/home_view.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/utils/turn_feed.dart
  lib/features/offline_maps/data/offline_regions_repository_impl.dart
  lib/features/offline_maps/presentation/offline_maps_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/settings/widgets/about_section.dart
Owners: @navware/, @a-navware, @s-navware

fix sttle
  Makefile
  lib/core/data/remote/composite_map_source_repository.dart
  lib/features/home/home_view.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/utils/turn_feed.dart
  lib/features/offline_maps/data/offline_regions_repository_impl.dart
  lib/features/offline_maps/presentation/offline_maps_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/settings/widgets/about_section.dart
Owners: @navware/, @a-navware, @s-navware

Remove smoke tests for the FFI API from the test suite, streamlining the testing process.
  native/nav_e_ffi/tests/api_smoke_test.rs
  native/nav_engine/src/api/offline_regions.rs
  test/features/map_layers/presentation/bloc/map_bloc_test.dart
Owners: @navware/, @a-navware, @s-navware

Remove smoke tests for the FFI API from the test suite, streamlining the testing process.
  native/nav_e_ffi/tests/api_smoke_test.rs
  native/nav_engine/src/api/offline_regions.rs
  test/features/map_layers/presentation/bloc/map_bloc_test.dart
Owners: @navware/, @a-navware, @s-navware

Update MapBloc test to include 'force' parameter in MapMoved event for improved state management
  test/features/map_layers/presentation/bloc/map_bloc_test.dart
Owners: @a-navware, @s-navware

Update MapBloc test to include 'force' parameter in MapMoved event for improved state management
  test/features/map_layers/presentation/bloc/map_bloc_test.dart
Owners: @a-navware, @s-navware
