Repository Navware-Official/nav-e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @navware/, @a-navware, @s-navware

.github/CODEOWNERS:

# CODEOWNERS for: Nav-e
# Defines the users, teams, or apps that are responsible for code in a repository.
# ------------------------------------------------------------------------------
# 1) Default catch-all: if nothing else matches, these folks own it.
#    Add both devs here so nothing slips through the cracks.
# ------------------------------------------------------------------------------
*                       @navware/ @a-navware @s-navware

# ------------------------------------------------------------------------------
# 2) App code by platform / domain
# ------------------------------------------------------------------------------

# Core Dart code
/lib/**                 @a-navware @s-navware
/bin/**                 @a-navware @s-navware

# UI assets
/assets/**              @a-navware @s-navware

# Flutter platform folders
/android/**             @a-navware @s-navware
/ios/**                 
/web/**                 
/macos/**               
/windows/**             
/linux/**               

# Packages / modules (if you use a mono-repo layout later)
# /packages/**          @your-org/mobile-core

# ------------------------------------------------------------------------------
# 3) Tests, QA, and tooling
# ------------------------------------------------------------------------------
/test/**                @a-navware @s-navware
/integration_test/**    @a-navware @s-navware

# CI/CD, release, and repo plumbing
/.github/**             @a-navware
/.github/workflows/**   @a-navware

# Linting and config


# ------------------------------------------------------------------------------
# 4) Docs, community, licenses
# ------------------------------------------------------------------------------
/README.md              @a-navware @s-navware
/CONTRIBUTING.md        @a-navware @s-navware
/CODE_OF_CONDUCT.md     @a-navware @s-navware
/SECURITY.md            @s-navware @s-navware
/LICENSE                @a-navware @s-navware

# ------------------------------------------------------------------------------
# 5) Sensitive or “please don’t touch without us” areas
# ------------------------------------------------------------------------------
/pubspec.yaml           @a-navware @s-navware
/.gitignore             @s-navware @s-navware
/.gitattributes         @s-navware @s-navware

# ------------------------------------------------------------------------------
# Feature specific areas
# ------------------------------------------------------------------------------
/lib/core/data/**            @a-navware
/lib/core/domain/**        @a-navware
/lib/features/map_layers/**  @a-navware
/lib/features/settings/**    @a-navware
/lib/features/saved_places/** @a-navware
/lib/features/device_management/** @s-navware
/lib/features/navigation/** @a-navware @s-navware

chore: untrack FFI generated files, now build artifacts
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  native/nav_e_ffi/src/frb_generated.rs
Owners: @a-navware, @s-navware, @navware/

chore: untrack FFI generated files, now build artifacts
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  native/nav_e_ffi/src/frb_generated.rs
Owners: @a-navware, @s-navware, @navware/

chore: update .gitignore to include FFI generated bindings for Dart and Rust
  .gitignore
Owners: @s-navware

chore: update .gitignore to include FFI generated bindings for Dart and Rust
  .gitignore
Owners: @s-navware

chore: update CI workflows and labeler configuration for improved binding generation and artifact handling
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .github/workflows/release.yml
  .vscode/settings.json
Owners: @a-navware, @navware/, @s-navware

chore: update CI workflows and labeler configuration for improved binding generation and artifact handling
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .github/workflows/release.yml
  .vscode/settings.json
Owners: @a-navware, @navware/, @s-navware

fix
  .github/labeler.yml
  Makefile
  native/nav_engine/src/api/device_comm.rs
  native/nav_engine/src/api/geocoding.rs
  native/nav_engine/src/api/routes.rs
  native/nav_engine/src/application/handlers.rs
  native/nav_engine/src/application/mod.rs
  native/nav_engine/src/infrastructure/database.rs
  native/nav_engine/src/migrations/mod.rs
Owners: @a-navware, @navware/, @s-navware

fix
  .github/labeler.yml
  Makefile
  native/nav_engine/src/api/device_comm.rs
  native/nav_engine/src/api/geocoding.rs
  native/nav_engine/src/api/routes.rs
  native/nav_engine/src/application/handlers.rs
  native/nav_engine/src/application/mod.rs
  native/nav_engine/src/infrastructure/database.rs
  native/nav_engine/src/migrations/mod.rs
Owners: @a-navware, @navware/, @s-navware

fix labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
  lib/features/plan_route/plan_route_screen.dart
Owners: @a-navware, @s-navware

fix labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
  lib/features/plan_route/plan_route_screen.dart
Owners: @a-navware, @s-navware

chore: update labeler configuration to enhance file change detection for navigation, device communication, routing, and geocoding areas
  .github/labeler.yml
Owners: @a-navware

chore: update labeler configuration to enhance file change detection for navigation, device communication, routing, and geocoding areas
  .github/labeler.yml
Owners: @a-navware

a
  .github/workflows/labeler.yml
Owners: @a-navware

a
  .github/workflows/labeler.yml
Owners: @a-navware

cs
  .github/workflows/frb_codegen_build.yml
  Makefile
  native/nav_engine/src/api/devices.rs
  native/nav_engine/src/api/dto.rs
  native/nav_engine/src/api/geocoding.rs
  native/nav_engine/src/api/navigation.rs
  native/nav_engine/src/api/saved_places.rs
  native/nav_engine/src/application/mod.rs
  native/nav_engine/src/domain/events.rs
  native/nav_engine/src/infrastructure/protobuf_adapter.rs
Owners: @a-navware, @navware/, @s-navware

cs
  .github/workflows/frb_codegen_build.yml
  Makefile
  native/nav_engine/src/api/devices.rs
  native/nav_engine/src/api/dto.rs
  native/nav_engine/src/api/geocoding.rs
  native/nav_engine/src/api/navigation.rs
  native/nav_engine/src/api/saved_places.rs
  native/nav_engine/src/application/mod.rs
  native/nav_engine/src/domain/events.rs
  native/nav_engine/src/infrastructure/protobuf_adapter.rs
Owners: @a-navware, @navware/, @s-navware

pipeline
  .github/workflows/ci.yml
  .github/workflows/stale.yml
  native/device_comm/src/lib.rs
  native/nav_engine/src/application/commands.rs
  native/nav_engine/src/application/handlers.rs
  native/nav_engine/src/application/queries.rs
  native/nav_engine/src/application/service_helpers.rs
  native/nav_engine/src/application/traits.rs
  native/nav_engine/src/domain/entities.rs
  native/nav_engine/src/domain/events.rs
  native/nav_engine/src/domain/ports.rs
  native/nav_engine/src/domain/value_objects.rs
  native/nav_engine/src/infrastructure/base_repository.rs
  native/nav_engine/src/infrastructure/protobuf_adapter.rs
  native/nav_engine/src/migrations/mod.rs
Owners: @a-navware, @navware/, @s-navware

pipeline
  .github/workflows/ci.yml
  .github/workflows/stale.yml
  native/device_comm/src/lib.rs
  native/nav_engine/src/application/commands.rs
  native/nav_engine/src/application/handlers.rs
  native/nav_engine/src/application/queries.rs
  native/nav_engine/src/application/service_helpers.rs
  native/nav_engine/src/application/traits.rs
  native/nav_engine/src/domain/entities.rs
  native/nav_engine/src/domain/events.rs
  native/nav_engine/src/domain/ports.rs
  native/nav_engine/src/domain/value_objects.rs
  native/nav_engine/src/infrastructure/base_repository.rs
  native/nav_engine/src/infrastructure/protobuf_adapter.rs
  native/nav_engine/src/migrations/mod.rs
Owners: @a-navware, @navware/, @s-navware

chore: remove outdated labeler configuration and workflows
  .github/copilot-instructions.md
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @a-navware

chore: remove outdated labeler configuration and workflows
  .github/copilot-instructions.md
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @a-navware

chore: remove outdated labeler configuration and workflows
  Makefile
  native/device_comm/build.rs
  native/device_comm/src/lib.rs
Owners: @navware/, @a-navware, @s-navware

chore: remove outdated labeler configuration and workflows
  Makefile
  native/device_comm/build.rs
  native/device_comm/src/lib.rs
Owners: @navware/, @a-navware, @s-navware

fix
  .github/copilot-instructions.md
  native/nav_engine/src/api/helpers.rs
Owners: @a-navware, @navware/, @s-navware

fix
  .github/copilot-instructions.md
  native/nav_engine/src/api/helpers.rs
Owners: @a-navware, @navware/, @s-navware

fix
  .github/workflows/ci.yml
  .gitignore
Owners: @a-navware, @s-navware

fix
  .github/workflows/ci.yml
  .gitignore
Owners: @a-navware, @s-navware

chore: add GitHub labeler configuration and workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @a-navware

chore: add GitHub labeler configuration and workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @a-navware

feat: Add generated bindings for Flutter Rust Bridge
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .gitignore
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  scripts/generate_bindings.sh
Owners: @a-navware, @s-navware, @navware/

feat: Add generated bindings for Flutter Rust Bridge
  .github/workflows/ci.yml
  .github/workflows/frb_codegen_build.yml
  .gitignore
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  scripts/generate_bindings.sh
Owners: @a-navware, @s-navware, @navware/

typo
  docs/adr/README.md
Owners: @navware/, @a-navware, @s-navware

typo
  docs/adr/README.md
Owners: @navware/, @a-navware, @s-navware

ci
  .github/workflows/ci.yml
Owners: @a-navware

ci
  .github/workflows/ci.yml
Owners: @a-navware

fix(ci): allow cosmetic formatting differences in FRB bindings
  .github/workflows/ci.yml
Owners: @a-navware

fix(ci): allow cosmetic formatting differences in FRB bindings
  .github/workflows/ci.yml
Owners: @a-navware

fix(ci): update labeler config to v5 syntax
  .github/labeler.yml
Owners: @a-navware

fix(ci): update labeler config to v5 syntax
  .github/labeler.yml
Owners: @a-navware

labels
  .github/labeler.yml
Owners: @a-navware

labels
  .github/labeler.yml
Owners: @a-navware
