Repository Navware-Official/nav-e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @navware/, @a-navware, @s-navware

.github/CODEOWNERS:

# CODEOWNERS for: Nav-e
# Defines the users, teams, or apps that are responsible for code in a repository.
# ------------------------------------------------------------------------------
# 1) Default catch-all: if nothing else matches, these folks own it.
#    Add both devs here so nothing slips through the cracks.
# ------------------------------------------------------------------------------
*                       @navware/ @a-navware @s-navware

# ------------------------------------------------------------------------------
# 2) App code by platform / domain
# ------------------------------------------------------------------------------

# Core Dart code
/lib/**                 @a-navware @s-navware
/bin/**                 @a-navware @s-navware

# UI assets
/assets/**              @a-navware @s-navware

# Flutter platform folders
/android/**             @a-navware @s-navware
/ios/**                 
/web/**                 
/macos/**               
/windows/**             
/linux/**               

# Packages / modules (if you use a mono-repo layout later)
# /packages/**          @your-org/mobile-core

# ------------------------------------------------------------------------------
# 3) Tests, QA, and tooling
# ------------------------------------------------------------------------------
/test/**                @a-navware @s-navware
/integration_test/**    @a-navware @s-navware

# CI/CD, release, and repo plumbing
/.github/**             @a-navware
/.github/workflows/**   @a-navware

# Linting and config


# ------------------------------------------------------------------------------
# 4) Docs, community, licenses
# ------------------------------------------------------------------------------
/README.md              @a-navware @s-navware
/CONTRIBUTING.md        @a-navware @s-navware
/CODE_OF_CONDUCT.md     @a-navware @s-navware
/SECURITY.md            @s-navware @s-navware
/LICENSE                @a-navware @s-navware

# ------------------------------------------------------------------------------
# 5) Sensitive or “please don’t touch without us” areas
# ------------------------------------------------------------------------------
/pubspec.yaml           @a-navware @s-navware
/.gitignore             @s-navware @s-navware
/.gitattributes         @s-navware @s-navware

# ------------------------------------------------------------------------------
# Feature specific areas
# ------------------------------------------------------------------------------
/lib/core/data/**            @a-navware
/lib/core/domain/**        @a-navware
/lib/features/map_layers/**  @a-navware
/lib/features/settings/**    @a-navware
/lib/features/saved_places/** @a-navware
/lib/features/device_management/** @s-navware
/lib/features/navigation/** @a-navware @s-navware

fmt
  lib/app/app_router.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/main.dart
Owners: @a-navware, @s-navware

fmt
  lib/app/app_router.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/main.dart
Owners: @a-navware, @s-navware

feat(android): configure release signing via key.properties and CI secrets
  .github/workflows/release.yml
  android/app/build.gradle.kts
  docs/rust/nav_core.md
  docs/rust/nav_e_ffi.md
  native/nav_e_ffi/readme.md
Owners: @a-navware, @s-navware, @navware/

feat(android): configure release signing via key.properties and CI secrets
  .github/workflows/release.yml
  android/app/build.gradle.kts
  docs/rust/nav_core.md
  docs/rust/nav_e_ffi.md
  native/nav_e_ffi/readme.md
Owners: @a-navware, @s-navware, @navware/

chore: bump version to 0.1.3
  pubspec.yaml
Owners: @a-navware, @s-navware

feat(ci): trigger release workflow on version tag push
  .github/workflows/release.yml
Owners: @a-navware

tech: address architecture problem areas
  .github/workflows/release.yml
  lib/features/nav/bloc/nav_bloc.dart
  native/nav_core/Cargo.toml
  native/nav_core/src/api/helpers.rs
  native/nav_core/src/api/navigation/navigation.rs
  native/nav_e_ffi/src/lib.rs
  scripts/validate_release.sh
Owners: @a-navware, @s-navware, @navware/

feat(routing): wire Valhalla, Google Routes, and MultiRouteService
  lib/main.dart
  native/nav_e_ffi/Cargo.toml
  native/nav_e_ffi/src/lib.rs
  native/nav_ir/src/adapters/google_routes.rs
  native/nav_ir/src/adapters/mod.rs
  native/nav_ir/src/adapters/valhalla.rs
  native/nav_ir/src/lib.rs
  native/nav_route/Cargo.toml
  native/nav_route/src/google_routes/mod.rs
  native/nav_route/src/lib.rs
  native/nav_route/src/multi.rs
  native/nav_route/src/valhalla/mod.rs
Owners: @a-navware, @s-navware, @navware/

docs
  docs/flutter/app.md
  docs/rust/nav_engine.md
  docs/rust/nav_route.md
Owners: @navware/, @a-navware, @s-navware

fixci
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/models/nav_models.dart
Owners: @a-navware, @s-navware

update refs
  lib/bridge/frb_generated.dart
  lib/bridge/lib.dart
Owners: @a-navware, @s-navware

fix: resolve merge conflicts and fix clippy warnings
  lib/bridge/ffi_models.dart
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/profile/profile_screen.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
  native/nav_core/src/api/geocoding.rs
  native/nav_core/src/api/navigation/mod.rs
  native/nav_core/src/api/navigation/routes.rs
  native/nav_core/src/api/navigation/session.rs
  native/nav_core/src/api/offline_regions.rs
  native/nav_core/src/api/places/trips.rs
  native/nav_core/src/devices/infrastructure/ble_adapter.rs
  native/nav_core/src/migrations/mod.rs
  native/nav_core/src/navigation/application/queries.rs
  native/nav_e_ffi/src/ffi_models.rs
  native/nav_e_ffi/src/lib.rs
Owners: @a-navware, @s-navware, @navware/

csfix
  lib/core/routing/routing_engine_service.dart
  lib/core/theme/components/badges.dart
  lib/core/theme/elevation.dart
  lib/core/theme/spacing.dart
  lib/features/settings/widgets/routing_engine_settings_section.dart
Owners: @a-navware, @s-navware

temp
  .gitignore
Owners: @s-navware

refactor(nav): split NavBloc into OffRouteDetector + NavSessionManager + orchestrator
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/bloc/nav_session_manager.dart
  lib/features/nav/bloc/off_route_detector.dart
Owners: @a-navware, @s-navware

feat(ffi): convert 7 JSON-string FFI functions to typed DTOs
  android/app/src/main/jniLibs/arm64-v8a/libnav_core.so
  android/app/src/main/jniLibs/arm64-v8a/libnav_engine.so
Owners: @a-navware, @s-navware

feat(plan): rework plan screen layout and content
  lib/features/plan/plan_screen.dart
Owners: @a-navware, @s-navware

fix ci
  android/app/src/main/jniLibs/arm64-v8a/libnav_core.so
  lib/bridge/frb_generated.dart
  lib/bridge/lib.dart
  native/nav_ir/src/adapters/mod.rs
Owners: @a-navware, @s-navware, @navware/

fix: apply dart format to pass CI format check
  lib/core/nav/navware_auth_service.dart
  lib/features/home/home_idle_panel.dart
  lib/features/home/home_view.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/log/log_screen.dart
  lib/features/plan/plan_screen.dart
  lib/features/profile/navware_auth_screen.dart
  lib/features/profile/profile_screen.dart
  lib/features/settings/developer_settings_screen.dart
  lib/features/settings/settings_subpages.dart
  lib/features/settings/widgets/navdsp_section.dart
  lib/main.dart
Owners: @a-navware, @s-navware

Update README.md
  README.md
Owners: @a-navware, @s-navware

feat(dsp): start wiring nav-dsp services
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/offline_maps/presentation/offline_maps_screen.dart
  test/features/hud_widgets/hud_layout_test.dart
Owners: @a-navware, @s-navware

feat(config): Added github issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @a-navware
