Repository Navware-Official/nav-e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @navware/, @a-navware, @s-navware

.github/CODEOWNERS:

# CODEOWNERS for: Nav-e
# Defines the users, teams, or apps that are responsible for code in a repository.
# ------------------------------------------------------------------------------
# 1) Default catch-all: if nothing else matches, these folks own it.
#    Add both devs here so nothing slips through the cracks.
# ------------------------------------------------------------------------------
*                       @navware/ @a-navware @s-navware

# ------------------------------------------------------------------------------
# 2) App code by platform / domain
# ------------------------------------------------------------------------------

# Core Dart code
/lib/**                 @a-navware @s-navware
/bin/**                 @a-navware @s-navware

# UI assets
/assets/**              @a-navware @s-navware

# Flutter platform folders
/android/**             @a-navware @s-navware
/ios/**                 
/web/**                 
/macos/**               
/windows/**             
/linux/**               

# Packages / modules (if you use a mono-repo layout later)
# /packages/**          @your-org/mobile-core

# ------------------------------------------------------------------------------
# 3) Tests, QA, and tooling
# ------------------------------------------------------------------------------
/test/**                @a-navware @s-navware
/integration_test/**    @a-navware @s-navware

# CI/CD, release, and repo plumbing
/.github/**             @a-navware
/.github/workflows/**   @a-navware

# Linting and config


# ------------------------------------------------------------------------------
# 4) Docs, community, licenses
# ------------------------------------------------------------------------------
/README.md              @a-navware @s-navware
/CONTRIBUTING.md        @a-navware @s-navware
/CODE_OF_CONDUCT.md     @a-navware @s-navware
/SECURITY.md            @s-navware @s-navware
/LICENSE                @a-navware @s-navware

# ------------------------------------------------------------------------------
# 5) Sensitive or “please don’t touch without us” areas
# ------------------------------------------------------------------------------
/pubspec.yaml           @a-navware @s-navware
/.gitignore             @s-navware @s-navware
/.gitattributes         @s-navware @s-navware

# ------------------------------------------------------------------------------
# Feature specific areas
# ------------------------------------------------------------------------------
/lib/core/data/**            @a-navware
/lib/core/domain/**        @a-navware
/lib/features/map_layers/**  @a-navware
/lib/features/settings/**    @a-navware
/lib/features/saved_places/** @a-navware
/lib/features/device_management/** @s-navware
/lib/features/navigation/** @a-navware @s-navware

Implement trip history feature and enhance navigation tracking
  android/app/src/main/jniLibs/arm64-v8a/libnav_engine.so
  lib/app/app_router.dart
  lib/bridge/frb_generated.dart
  lib/bridge/lib.dart
  lib/core/domain/entities/trip.dart
  lib/core/domain/repositories/trip_repository.dart
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/bloc/nav_event.dart
  lib/features/nav/bloc/nav_state.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/route_finish_screen.dart
  lib/features/nav/utils/turn_feed.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/trip_history_settings_section.dart
  lib/features/trip_history/cubit/trip_history_cubit.dart
  lib/features/trip_history/cubit/trip_history_state.dart
  lib/features/trip_history/data/trip_repository_rust.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/features/trip_history/trip_history_screen.dart
  lib/main.dart
  lib/widgets/side_menu_drawer.dart
  native/nav_e_ffi/src/lib.rs
  native/nav_engine/src/api/mod.rs
  native/nav_engine/src/api/offline_regions.rs
  native/nav_engine/src/api/trips.rs
  native/nav_engine/src/infrastructure/database.rs
  native/nav_engine/src/migrations/m20250224000000_trips.rs
  native/nav_engine/src/migrations/mod.rs
Owners: @a-navware, @s-navware, @navware/

Implement trip history feature and enhance navigation tracking
  android/app/src/main/jniLibs/arm64-v8a/libnav_engine.so
  lib/app/app_router.dart
  lib/bridge/frb_generated.dart
  lib/bridge/lib.dart
  lib/core/domain/entities/trip.dart
  lib/core/domain/repositories/trip_repository.dart
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/bloc/nav_event.dart
  lib/features/nav/bloc/nav_state.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/route_finish_screen.dart
  lib/features/nav/utils/turn_feed.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/trip_history_settings_section.dart
  lib/features/trip_history/cubit/trip_history_cubit.dart
  lib/features/trip_history/cubit/trip_history_state.dart
  lib/features/trip_history/data/trip_repository_rust.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/features/trip_history/trip_history_screen.dart
  lib/main.dart
  lib/widgets/side_menu_drawer.dart
  native/nav_e_ffi/src/lib.rs
  native/nav_engine/src/api/mod.rs
  native/nav_engine/src/api/offline_regions.rs
  native/nav_engine/src/api/trips.rs
  native/nav_engine/src/infrastructure/database.rs
  native/nav_engine/src/migrations/m20250224000000_trips.rs
  native/nav_engine/src/migrations/mod.rs
Owners: @a-navware, @s-navware, @navware/

formatting
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/settings/widgets/trip_history_settings_section.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/features/trip_history/trip_history_screen.dart
Owners: @a-navware, @s-navware

formatting
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/settings/widgets/trip_history_settings_section.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/features/trip_history/trip_history_screen.dart
Owners: @a-navware, @s-navware

feat(release): create new release
  .github/workflows/release.yml
  pubspec.yaml
Owners: @a-navware, @s-navware

feat(release): create new release
  .github/workflows/release.yml
  pubspec.yaml
Owners: @a-navware, @s-navware

fmt
  native/nav_core/src/api/device_comm.rs
  native/nav_core/src/api/dto.rs
  native/nav_core/src/api/navigation.rs
  native/nav_core/src/domain/value_objects.rs
  native/nav_core/src/infrastructure/nav_ir_to_proto.rs
  native/nav_core/src/infrastructure/osrm_adapter.rs
  native/nav_core/src/infrastructure/protobuf_adapter.rs
Owners: @navware/, @a-navware, @s-navware

fmt
  native/nav_core/src/api/device_comm.rs
  native/nav_core/src/api/dto.rs
  native/nav_core/src/api/navigation.rs
  native/nav_core/src/domain/value_objects.rs
  native/nav_core/src/infrastructure/nav_ir_to_proto.rs
  native/nav_core/src/infrastructure/osrm_adapter.rs
  native/nav_core/src/infrastructure/protobuf_adapter.rs
Owners: @navware/, @a-navware, @s-navware

chore(nav-ir): add documentation
  docs/README.md
  docs/guides/device-communication.md
  docs/nav-ir/README.md
  docs/nav-ir/concepts.md
  docs/nav-ir/examples/gpx_like.json
  docs/nav-ir/examples/minimal.json
  docs/nav-ir/examples/osrm_like.json
  docs/nav-ir/normalization/custom-api.md
  docs/nav-ir/normalization/gpx.md
  docs/nav-ir/normalization/osrm.md
  docs/nav-ir/schema.md
  docs/nav-ir/versioning.md
  docs/rust/nav-ir.md
  native/nav_ir/src/types.rs
Owners: @navware/, @a-navware, @s-navware

chore(nav-ir): add documentation
  docs/README.md
  docs/guides/device-communication.md
  docs/nav-ir/README.md
  docs/nav-ir/concepts.md
  docs/nav-ir/examples/gpx_like.json
  docs/nav-ir/examples/minimal.json
  docs/nav-ir/examples/osrm_like.json
  docs/nav-ir/normalization/custom-api.md
  docs/nav-ir/normalization/gpx.md
  docs/nav-ir/normalization/osrm.md
  docs/nav-ir/schema.md
  docs/nav-ir/versioning.md
  docs/rust/nav-ir.md
  native/nav_ir/src/types.rs
Owners: @navware/, @a-navware, @s-navware

chore(nav-ir): add tests
  docs/nav-ir/schema.md
  native/nav_core/src/infrastructure/nav_ir_to_proto.rs
  native/nav_ir/fixtures/gpx_like.json
  native/nav_ir/fixtures/minimal.json
  native/nav_ir/fixtures/osrm_like.json
  native/nav_ir/src/lib.rs
  native/nav_ir/src/types.rs
Owners: @navware/, @a-navware, @s-navware

chore(nav-ir): add tests
  docs/nav-ir/schema.md
  native/nav_core/src/infrastructure/nav_ir_to_proto.rs
  native/nav_ir/fixtures/gpx_like.json
  native/nav_ir/fixtures/minimal.json
  native/nav_ir/fixtures/osrm_like.json
  native/nav_ir/src/lib.rs
  native/nav_ir/src/types.rs
Owners: @navware/, @a-navware, @s-navware

feat(nav-ir): add adapters
  android/app/src/main/jniLibs/arm64-v8a/libnav_core.so
  docs/nav-ir/README.md
  native/Cargo.lock
  native/nav_ir/Cargo.toml
  native/nav_ir/src/adapters/custom_api.rs
  native/nav_ir/src/adapters/gpx.rs
  native/nav_ir/src/adapters/graphhopper.rs
  native/nav_ir/src/adapters/mod.rs
  native/nav_ir/src/adapters/osrm.rs
  native/nav_ir/src/lib.rs
Owners: @a-navware, @s-navware, @navware/

feat(nav-ir): add adapters
  android/app/src/main/jniLibs/arm64-v8a/libnav_core.so
  docs/nav-ir/README.md
  native/Cargo.lock
  native/nav_ir/Cargo.toml
  native/nav_ir/src/adapters/custom_api.rs
  native/nav_ir/src/adapters/gpx.rs
  native/nav_ir/src/adapters/graphhopper.rs
  native/nav_ir/src/adapters/mod.rs
  native/nav_ir/src/adapters/osrm.rs
  native/nav_ir/src/lib.rs
Owners: @a-navware, @s-navware, @navware/

updated manifest for intent
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

updated manifest for intent
  android/app/src/main/AndroidManifest.xml
Owners: @a-navware, @s-navware

remove unused file
  docs/plan.md
Owners: @navware/, @a-navware, @s-navware

remove unused file
  docs/plan.md
Owners: @navware/, @a-navware, @s-navware

tweak(ui): moved styling to settings
  assets/config/map_sources.json
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware, @s-navware

tweak(ui): moved styling to settings
  assets/config/map_sources.json
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware, @s-navware

fixed styling
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware

fixed styling
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware

tweak(ui): moved styling to settings
  assets/config/map_sources.json
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware, @s-navware

tweak(ui): moved styling to settings
  assets/config/map_sources.json
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware, @s-navware

feat: new UI with app shell, dashboard, plan, and profile
  lib/app/app_nav.dart
  lib/app/app_router.dart
  lib/app/app_shell.dart
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/components/cards.dart
  lib/core/theme/components/decorations.dart
  lib/core/theme/components/inputs.dart
  lib/core/theme/components/settings_panel.dart
  lib/core/theme/typography.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/dashboard/home_dashboard_screen.dart
  lib/features/home/home_screen.dart
  lib/features/home/home_view.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/home/widgets/explore_top_bar.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_source_preview_grid.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/route_finish_screen.dart
  lib/features/offline_maps/presentation/offline_maps_screen.dart
  lib/features/offline_maps/presentation/widgets/download_region_sheet.dart
  lib/features/plan/plan_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/profile/profile_screen.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/features/search/search_screen.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/features/trip_history/trip_history_screen.dart
  lib/main.dart
  lib/widgets/search_bar_widget.dart
  lib/widgets/side_menu_drawer.dart
  lib/widgets/user_location_marker.dart
Owners: @a-navware, @s-navware

feat: new UI with app shell, dashboard, plan, and profile
  lib/app/app_nav.dart
  lib/app/app_router.dart
  lib/app/app_shell.dart
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/components/cards.dart
  lib/core/theme/components/decorations.dart
  lib/core/theme/components/inputs.dart
  lib/core/theme/components/settings_panel.dart
  lib/core/theme/typography.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/dashboard/home_dashboard_screen.dart
  lib/features/home/home_screen.dart
  lib/features/home/home_view.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/home/widgets/explore_top_bar.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_source_preview_grid.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/route_finish_screen.dart
  lib/features/offline_maps/presentation/offline_maps_screen.dart
  lib/features/offline_maps/presentation/widgets/download_region_sheet.dart
  lib/features/plan/plan_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/profile/profile_screen.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/features/search/search_screen.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/features/trip_history/trip_history_screen.dart
  lib/main.dart
  lib/widgets/search_bar_widget.dart
  lib/widgets/side_menu_drawer.dart
  lib/widgets/user_location_marker.dart
Owners: @a-navware, @s-navware

refactor(native): simplify repos, fix unsafe, wire device comm, shared runtime
  native/nav_core/src/api/context.rs
  native/nav_core/src/api/helpers.rs
  native/nav_core/src/api/navigation/navigation.rs
  native/nav_core/src/api/navigation/routes.rs
  native/nav_core/src/api/places/saved_places.rs
  native/nav_core/src/api/places/saved_routes.rs
  native/nav_core/src/domain/events.rs
  native/nav_core/src/infrastructure/device/mod.rs
  native/nav_core/src/infrastructure/device/no_op_device_comm.rs
  native/nav_core/src/infrastructure/persistence/base_repository.rs
  native/nav_core/src/infrastructure/persistence/database.rs
Owners: @navware/, @a-navware, @s-navware

refactor(native): simplify repos, fix unsafe, wire device comm, shared runtime
  native/nav_core/src/api/context.rs
  native/nav_core/src/api/helpers.rs
  native/nav_core/src/api/navigation/navigation.rs
  native/nav_core/src/api/navigation/routes.rs
  native/nav_core/src/api/places/saved_places.rs
  native/nav_core/src/api/places/saved_routes.rs
  native/nav_core/src/domain/events.rs
  native/nav_core/src/infrastructure/device/mod.rs
  native/nav_core/src/infrastructure/device/no_op_device_comm.rs
  native/nav_core/src/infrastructure/persistence/base_repository.rs
  native/nav_core/src/infrastructure/persistence/database.rs
Owners: @navware/, @a-navware, @s-navware

fix(native): resolve all nav_core build warnings
  native/nav_core/src/api/mod.rs
  native/nav_core/src/infrastructure/device/mod.rs
  native/nav_core/src/infrastructure/persistence/mod.rs
Owners: @navware/, @a-navware, @s-navware

fix(native): resolve all nav_core build warnings
  native/nav_core/src/api/mod.rs
  native/nav_core/src/infrastructure/device/mod.rs
  native/nav_core/src/infrastructure/persistence/mod.rs
Owners: @navware/, @a-navware, @s-navware

test(native): add tests across all critical untested areas
  native/nav_core/src/application/handlers.rs
  native/nav_core/src/domain/entities.rs
  native/nav_core/src/domain/value_objects.rs
  native/nav_core/src/infrastructure/persistence/database.rs
  native/nav_core/src/infrastructure/persistence/in_memory_repo.rs
  native/nav_core/src/migrations/mod.rs
Owners: @navware/, @a-navware, @s-navware

test(native): add tests across all critical untested areas
  native/nav_core/src/application/handlers.rs
  native/nav_core/src/domain/entities.rs
  native/nav_core/src/domain/value_objects.rs
  native/nav_core/src/infrastructure/persistence/database.rs
  native/nav_core/src/infrastructure/persistence/in_memory_repo.rs
  native/nav_core/src/migrations/mod.rs
Owners: @navware/, @a-navware, @s-navware

feat(ui): updated ui and pallete
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/components/buttons.dart
  lib/core/theme/components/cards.dart
  lib/core/theme/components/decorations.dart
  lib/core/theme/components/inputs.dart
  lib/core/theme/palette.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/core/theme/typography.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/dashboard/home_dashboard_screen.dart
  lib/features/home/widgets/bottom_navigation_bar.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/route_finish_screen.dart
  lib/features/plan/plan_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/profile/profile_screen.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/main.dart
  lib/widgets/draggable_fab_widget.dart
  lib/widgets/user_location_marker.dart
Owners: @a-navware, @s-navware

feat(ui): updated ui and pallete
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/components/buttons.dart
  lib/core/theme/components/cards.dart
  lib/core/theme/components/decorations.dart
  lib/core/theme/components/inputs.dart
  lib/core/theme/palette.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/core/theme/typography.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/dashboard/home_dashboard_screen.dart
  lib/features/home/widgets/bottom_navigation_bar.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/route_finish_screen.dart
  lib/features/plan/plan_screen.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/profile/profile_screen.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
  lib/features/trip_history/trip_detail_screen.dart
  lib/main.dart
  lib/widgets/draggable_fab_widget.dart
  lib/widgets/user_location_marker.dart
Owners: @a-navware, @s-navware

fmt
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/palette.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/features/home/dashboard/home_dashboard_screen.dart
  lib/features/plan/plan_screen.dart
  lib/widgets/user_location_marker.dart
Owners: @a-navware, @s-navware

fmt
  lib/core/theme/app_theme.dart
  lib/core/theme/colors.dart
  lib/core/theme/palette.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/features/home/dashboard/home_dashboard_screen.dart
  lib/features/plan/plan_screen.dart
  lib/widgets/user_location_marker.dart
Owners: @a-navware, @s-navware

csfix
  lib/core/theme/colors.dart
  lib/core/theme/components/decorations.dart
  lib/core/theme/palette.dart
  lib/core/theme/typography.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware, @s-navware

csfix
  lib/core/theme/colors.dart
  lib/core/theme/components/decorations.dart
  lib/core/theme/palette.dart
  lib/core/theme/typography.dart
  lib/features/saved_routes/import_preview_screen.dart
  lib/features/settings/widgets/map_styling_section.dart
Owners: @a-navware, @s-navware

chore(version): bump version to 0.1.2
  pubspec.yaml
Owners: @a-navware, @s-navware

chore(version): bump version to 0.1.2
  pubspec.yaml
Owners: @a-navware, @s-navware
