Repository Navware-Official/nav-e, changes with the labels that .github/labeler.yml gives for each.
All labels: area:map, area:search, area:settings, area:core, area:ci, area:docs, area:tests, area:examples, area:navigation, platform:android, platform:ios

tweak: remove comment
  README.md
Labels: area:docs

tweak: remove comment
  README.md
Labels: area:docs

W.I.P.
  lib/bloc/bluetooth/bluetooth_bloc.dart
  lib/screens/device_management/add_device_screen.dart
  lib/utils/database_helper.dart
Labels: none

W.I.P.
  lib/bloc/bluetooth/bluetooth_bloc.dart
  lib/screens/device_management/add_device_screen.dart
  lib/utils/database_helper.dart
Labels: none

Added License
  LICENSE
Labels: none

Added License
  LICENSE
Labels: none

feat: Added build info to app, updated github workflows, updated basic styling to widgets
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/cut-release.yml
  .github/workflows/flutter_test.yml
  .github/workflows/pr-title.yml
  .github/workflows/publish-on-tag.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  README.md
  android/build/reports/problems/problems-report.html
  lib/core/constants/app_version.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/core/theme/typography.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/saved_places/saved_places_screen.dart
  lib/features/search/search_screen.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/app_version_section.dart
  lib/widgets/search_bar_widget.dart
  lib/widgets/subtext.widget.dart
  pubspec.lock
Labels: area:search, area:settings, area:core, area:ci, area:docs, platform:android

feat: Added build info to app, updated github workflows, updated basic styling to widgets
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/cut-release.yml
  .github/workflows/flutter_test.yml
  .github/workflows/pr-title.yml
  .github/workflows/publish-on-tag.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  README.md
  android/build/reports/problems/problems-report.html
  lib/core/constants/app_version.dart
  lib/core/theme/components/appbar.dart
  lib/core/theme/styles/corner_block_border.dart
  lib/core/theme/typography.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/saved_places/saved_places_screen.dart
  lib/features/search/search_screen.dart
  lib/features/settings/settings_screen.dart
  lib/features/settings/widgets/app_version_section.dart
  lib/widgets/search_bar_widget.dart
  lib/widgets/subtext.widget.dart
  pubspec.lock
Labels: area:search, area:settings, area:core, area:ci, area:docs, platform:android

fix: broken bloc in main
  lib/app/app_nav.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/main.dart
Labels: none

fix: broken bloc in main
  lib/app/app_nav.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
  lib/main.dart
Labels: none

Added missing bluetooth permissions
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Added missing bluetooth permissions
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Refactored application name bloc state name due to conflict
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Labels: area:core

Refactored application name bloc state name due to conflict
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Labels: area:core

Removed unsuported legacy permission
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Removed unsuported legacy permission
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Added BLE feature declaration for google play store
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Added BLE feature declaration for google play store
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Removed another unsupported legacy permission
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Removed another unsupported legacy permission
  android/app/src/main/AndroidManifest.xml
Labels: platform:android

Implemented base device scanning, updating and stopping handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Labels: area:core

Implemented base device scanning, updating and stopping handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Labels: area:core

Updated proces flows & handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
Labels: area:core

Updated proces flows & handling
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
  lib/features/device_management/device_management_screen.dart
Labels: area:core

Implemented base bluetooth scanning and listing
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Labels: area:core

Implemented base bluetooth scanning and listing
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/features/device_management/add_device_screen.dart
Labels: area:core

Implemented saving bluetooth device
  lib/features/device_management/add_device_screen.dart
Labels: none

Implemented saving bluetooth device
  lib/features/device_management/add_device_screen.dart
Labels: none

Implemented post-save routing
  lib/features/device_management/add_device_screen.dart
Labels: none

Implemented post-save routing
  lib/features/device_management/add_device_screen.dart
Labels: none

Removed unused code
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
Labels: area:core

Removed unused code
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
Labels: area:core

Fixed routing and implemented device loading
  lib/features/device_management/device_management_screen.dart
Labels: none

Fixed routing and implemented device loading
  lib/features/device_management/device_management_screen.dart
Labels: none

chore: remove old HTTP geocoding implementations
  lib/core/data/remote/geocoding_api_client.dart
  lib/features/search/data/geocoding_repository_impl.dart
Labels: area:search, area:core

chore: remove old HTTP geocoding implementations
  lib/core/data/remote/geocoding_api_client.dart
  lib/features/search/data/geocoding_repository_impl.dart
Labels: area:search, area:core

feat(bridge): delegate to generated FRB bindings when available, fallback to HTTP shim
  lib/bridge/ffi.dart
Labels: none

feat(bridge): delegate to generated FRB bindings when available, fallback to HTTP shim
  lib/bridge/ffi.dart
Labels: none

feat: moved logic to rust
  .github/workflows/frb_build.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  flutter_rust_bridge.yaml
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/frb_generated.web.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
  lib/main.dart
  lib/widgets/subtext.widget.dart
  native/README.md
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/frb_generated.rs
  native/nav_engine/src/geocode.rs
  native/nav_engine/src/lib.rs
  pubspec.lock
  pubspec.yaml
  scripts/build_rust.sh
Labels: area:search, area:ci

feat: moved logic to rust
  .github/workflows/frb_build.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  flutter_rust_bridge.yaml
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/frb_generated.web.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
  lib/main.dart
  lib/widgets/subtext.widget.dart
  native/README.md
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/frb_generated.rs
  native/nav_engine/src/geocode.rs
  native/nav_engine/src/lib.rs
  pubspec.lock
  pubspec.yaml
  scripts/build_rust.sh
Labels: area:search, area:ci

.github/labeler.yml:

area:map:
  - "lib/features/map_layers/**"
area:search:
  - "lib/features/search/**"
area:settings:
  - "lib/features/settings/**"
area:core:
  - "lib/core/**"
  - "lib/shared/**"
area:ci:
  - ".github/workflows/**"
  - ".github/labeler.yml"
  - ".github/PULL_REQUEST_TEMPLATE.md"
  - "analysis_options.yaml"
  - "pubspec.yaml"
  - "pubspec.lock"
area:docs:
  - "README.md"
  - "SECURITY.MD"
  - "CONTRIBUTING.MD"
  - "CHANGELOG.MD"
  - "docs/**"
area:tests:
  - "test/**"
  - "integration_test/**"
area:examples:
  - "example/**"
area:navigation:
  - "lib/features/navigation/**"
  - "lib/data/repositories/navigation/**"
  - "lib/data/services/navigation/**"
platform:android:
  - "android/**"
platform:ios:
  - "ios/**"
