Repository Navware-Official/nav-e, changes with the labels that .github/labeler.yml gives for each.
All labels: area:map, area:search, area:settings, area:core, area:ci, area:docs, area:tests, area:examples, area:navigation, platform:android, platform:ios

feat: route preview screen
  .github/workflows/frb_build.yml
  .github/workflows/frb_codegen_build.yml
  .vscode/settings.json
  lib/app/app_router.dart
  lib/bridge/ffi.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/src/lib.rs
Labels: area:map, area:ci

feat: route preview screen
  .github/workflows/frb_build.yml
  .github/workflows/frb_codegen_build.yml
  .vscode/settings.json
  lib/app/app_router.dart
  lib/bridge/ffi.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/src/lib.rs
Labels: area:map, area:ci

temp commit
  lib/bridge/ffi.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/bloc/nav_event.dart
  lib/features/nav/bloc/nav_state.dart
  lib/features/nav/models/nav_models.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/nav_banner.dart
  lib/features/navigate/navigation_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/lib.rs
Labels: area:map

temp commit
  lib/bridge/ffi.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/nav/bloc/nav_bloc.dart
  lib/features/nav/bloc/nav_event.dart
  lib/features/nav/bloc/nav_state.dart
  lib/features/nav/models/nav_models.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/nav/ui/nav_banner.dart
  lib/features/navigate/navigation_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  native/nav_engine/Cargo.lock
  native/nav_engine/Cargo.toml
  native/nav_engine/src/lib.rs
Labels: area:map

Implemented Bluetooth connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/core/domain/entities/device.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Labels: area:core

Implemented Bluetooth connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/core/bloc/bluetooth/bluetooth_state.dart
  lib/core/domain/entities/device.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Labels: area:core

Implemented Toggling of device Bluetooth connection
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/features/device_management/widgets/device_card_widget.dart
Labels: area:core

Implemented Toggling of device Bluetooth connection
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/core/bloc/bluetooth/bluetooth_event.dart
  lib/features/device_management/widgets/device_card_widget.dart
Labels: area:core

Fixed bugs in connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Labels: area:core

Fixed bugs in connection checking
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Labels: area:core

Implemented device updating and deleting
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Labels: area:core

Implemented device updating and deleting
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
  lib/features/device_management/device_management_screen.dart
  lib/features/device_management/widgets/device_card_widget.dart
Labels: area:core

got map drawing working and screens
  lib/bridge/api.dart
  lib/bridge/ffi.dart
  lib/bridge/geocode.dart
  lib/bridge/lib.dart
  lib/bridge/route.dart
  lib/bridge/types.dart
  lib/features/map_layers/data/map_source_repository_impl.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/plan_route/widgets/route_top_panel.dart
  native/nav_engine/src/api.rs
  native/nav_engine/src/lib.rs
  native/nav_engine/src/osrm.rs
  native/nav_engine/src/route.rs
  native/nav_engine/src/types.rs
  pubspec.lock
  pubspec.yaml
Labels: area:map, area:ci

got map drawing working and screens
  lib/bridge/api.dart
  lib/bridge/ffi.dart
  lib/bridge/geocode.dart
  lib/bridge/lib.dart
  lib/bridge/route.dart
  lib/bridge/types.dart
  lib/features/map_layers/data/map_source_repository_impl.dart
  lib/features/map_layers/models/polyline_model.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/plan_route/widgets/route_top_panel.dart
  native/nav_engine/src/api.rs
  native/nav_engine/src/lib.rs
  native/nav_engine/src/osrm.rs
  native/nav_engine/src/route.rs
  native/nav_engine/src/types.rs
  pubspec.lock
  pubspec.yaml
Labels: area:map, area:ci

Modified requested from PR
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Labels: area:core

Modified requested from PR
  lib/core/bloc/bluetooth/bluetooth_bloc.dart
Labels: area:core

Updated pkg name
  android/app/build.gradle.kts
Labels: platform:android

Updated pkg name
  android/app/build.gradle.kts
Labels: platform:android

Fixed Device manamgent and package name bug
  android/app/src/main/kotlin/com/example/nav_e/MainActivity.kt
  lib/features/device_management/device_management_screen.dart
Labels: platform:android

Fixed Device manamgent and package name bug
  android/app/src/main/kotlin/com/example/nav_e/MainActivity.kt
  lib/features/device_management/device_management_screen.dart
Labels: platform:android

refactor: Update color opacity methods to use withValues for consistency
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/saved_places/data/saved_places_repository_rust.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
Labels: area:search

refactor: Update color opacity methods to use withValues for consistency
  lib/features/home/widgets/bottom_search_bar_widget.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/features/saved_places/data/saved_places_repository_rust.dart
  lib/features/search/data/geocoding_repository_frb_typed_impl.dart
Labels: area:search

Refactor map handling to remove MapController dependency
  assets/config/map_sources.json
  assets/styles/custom_style.json
  docs/migrations-developer-guide.md
  docs/migrations-release.md
  lib/core/data/map_adapter.dart
  lib/core/data/map_adapter_factory.dart
  lib/core/data/remote/map_source_repository_impl.dart
  lib/core/domain/entities/map_source.dart
  lib/features/device_management/data/device_repository_rust.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/home_view.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/models/marker_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_adapters/legacy_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_section.dart
  lib/features/map_layers/presentation/widgets/recenter_fab.dart
  lib/features/map_layers/presentation/widgets/rotate_north_fab.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/widgets/user_location_marker.dart
  pubspec.lock
  pubspec.yaml
  test/core/data/map_adapter_test.dart
  test/core/data/remote/map_source_repository_impl_test.dart
Labels: area:map, area:core, area:ci, area:docs, area:tests

Refactor map handling to remove MapController dependency
  assets/config/map_sources.json
  assets/styles/custom_style.json
  docs/migrations-developer-guide.md
  docs/migrations-release.md
  lib/core/data/map_adapter.dart
  lib/core/data/map_adapter_factory.dart
  lib/core/data/remote/map_source_repository_impl.dart
  lib/core/domain/entities/map_source.dart
  lib/features/device_management/data/device_repository_rust.dart
  lib/features/device_management/widgets/device_card_widget.dart
  lib/features/home/home_view.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/location_preview/location_preview_widget.dart
  lib/features/map_layers/models/marker_model.dart
  lib/features/map_layers/presentation/bloc/map_bloc.dart
  lib/features/map_layers/presentation/bloc/map_events.dart
  lib/features/map_layers/presentation/bloc/map_state.dart
  lib/features/map_layers/presentation/map_adapters/legacy_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_map_adapter.dart
  lib/features/map_layers/presentation/map_adapters/maplibre_widget.dart
  lib/features/map_layers/presentation/map_widget.dart
  lib/features/map_layers/presentation/utils/map_helpers.dart
  lib/features/map_layers/presentation/widgets/map_controls_bottom_sheet.dart
  lib/features/map_layers/presentation/widgets/map_section.dart
  lib/features/map_layers/presentation/widgets/recenter_fab.dart
  lib/features/map_layers/presentation/widgets/rotate_north_fab.dart
  lib/features/nav/ui/active_nav_screen.dart
  lib/features/plan_route/plan_route_screen.dart
  lib/features/plan_route/widgets/plan_route_map.dart
  lib/widgets/user_location_marker.dart
  pubspec.lock
  pubspec.yaml
  test/core/data/map_adapter_test.dart
  test/core/data/remote/map_source_repository_impl_test.dart
Labels: area:map, area:core, area:ci, area:docs, area:tests

feat: Implement Device Communication BLoC with events and states
  android/app/src/main/jniLibs/arm64-v8a/libnav_engine.so
  docs/README.md
  docs/architecture.md
  docs/architecture/overview.md
  docs/flutter-rust-bridge.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/native-rust.md
  docs/protobuf.md
  docs/rust/device-comm.md
  docs/rust/overview.md
  docs/rust/protobuf.md
  docs/testing.md
  lib/app/app_router.dart
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  lib/core/device_comm/device_communication_service.dart
  lib/core/device_comm/proto/navigation.pb.dart
  lib/core/device_comm/proto/navigation.pbenum.dart
  lib/core/device_comm/proto/navigation.pbjson.dart
  lib/features/device_comm/presentation/bloc/device_comm_bloc.dart
  lib/features/device_comm/presentation/bloc/device_comm_events.dart
  lib/features/device_comm/presentation/bloc/device_comm_states.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/main.dart
  native/device_comm/src/lib.rs
  native/nav_e_ffi/src/frb_generated.rs
  native/nav_e_ffi/src/lib.rs
  native/nav_engine/src/api/device_comm.rs
  native/nav_engine/src/api/routes.rs
  native/nav_engine/src/infrastructure/osrm_adapter.rs
  pubspec.lock
  pubspec.yaml
Labels: area:core, area:ci, area:docs, platform:android

feat: Implement Device Communication BLoC with events and states
  android/app/src/main/jniLibs/arm64-v8a/libnav_engine.so
  docs/README.md
  docs/architecture.md
  docs/architecture/overview.md
  docs/flutter-rust-bridge.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/native-rust.md
  docs/protobuf.md
  docs/rust/device-comm.md
  docs/rust/overview.md
  docs/rust/protobuf.md
  docs/testing.md
  lib/app/app_router.dart
  lib/bridge/frb_generated.dart
  lib/bridge/frb_generated.io.dart
  lib/bridge/lib.dart
  lib/core/device_comm/device_communication_service.dart
  lib/core/device_comm/proto/navigation.pb.dart
  lib/core/device_comm/proto/navigation.pbenum.dart
  lib/core/device_comm/proto/navigation.pbjson.dart
  lib/features/device_comm/presentation/bloc/device_comm_bloc.dart
  lib/features/device_comm/presentation/bloc/device_comm_events.dart
  lib/features/device_comm/presentation/bloc/device_comm_states.dart
  lib/features/device_comm/presentation/screens/device_comm_debug_screen.dart
  lib/features/home/utils/route_params_handler.dart
  lib/features/plan_route/widgets/route_bottom_sheet.dart
  lib/main.dart
  native/device_comm/src/lib.rs
  native/nav_e_ffi/src/frb_generated.rs
  native/nav_e_ffi/src/lib.rs
  native/nav_engine/src/api/device_comm.rs
  native/nav_engine/src/api/routes.rs
  native/nav_engine/src/infrastructure/osrm_adapter.rs
  pubspec.lock
  pubspec.yaml
Labels: area:core, area:ci, area:docs, platform:android

docs: Enhance device communication guide with detailed architecture and flow
  docs/guides/device-communication.md
Labels: area:docs

docs: Enhance device communication guide with detailed architecture and flow
  docs/guides/device-communication.md
Labels: area:docs

simplify
  docs/guides/device-communication.md
Labels: area:docs

simplify
  docs/guides/device-communication.md
Labels: area:docs

.
  docs/architecture/overview.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/rust/protobuf.md
Labels: area:docs

.
  docs/architecture/overview.md
  docs/guides/device-communication.md
  docs/guides/flutter-rust-bridge.md
  docs/guides/testing.md
  docs/rust/protobuf.md
Labels: area:docs

add adr
  docs/README.md
  docs/adr/0000-template.md
  docs/adr/0001-adopt-ddd-hexagonal-cqrs.md
  docs/adr/0002-rust-core-flutter-ui.md
  docs/adr/0003-osrm-routing-engine.md
  docs/adr/0004-nominatim-geocoding.md
  docs/adr/0005-protocol-buffers-device-communication.md
  docs/adr/README.md
Labels: area:docs

add adr
  docs/README.md
  docs/adr/0000-template.md
  docs/adr/0001-adopt-ddd-hexagonal-cqrs.md
  docs/adr/0002-rust-core-flutter-ui.md
  docs/adr/0003-osrm-routing-engine.md
  docs/adr/0004-nominatim-geocoding.md
  docs/adr/0005-protocol-buffers-device-communication.md
  docs/adr/README.md
Labels: area:docs

.github/labeler.yml:

area:map:
  - "lib/features/map_layers/**"
area:search:
  - "lib/features/search/**"
area:settings:
  - "lib/features/settings/**"
area:core:
  - "lib/core/**"
  - "lib/shared/**"
area:ci:
  - ".github/workflows/**"
  - ".github/labeler.yml"
  - ".github/PULL_REQUEST_TEMPLATE.md"
  - "analysis_options.yaml"
  - "pubspec.yaml"
  - "pubspec.lock"
area:docs:
  - "README.md"
  - "SECURITY.MD"
  - "CONTRIBUTING.MD"
  - "CHANGELOG.MD"
  - "docs/**"
area:tests:
  - "test/**"
  - "integration_test/**"
area:examples:
  - "example/**"
area:navigation:
  - "lib/features/navigation/**"
  - "lib/data/repositories/navigation/**"
  - "lib/data/services/navigation/**"
platform:android:
  - "android/**"
platform:ios:
  - "ios/**"
